/*MISC*/
/*Spacings*/
/* spacings */
/*font family*/
/* fonts size */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #fafafa;
  background-image: url(../img/fondo/olas.svg);
  background-size: cover; }

h1 {
  font-family: "Russo One", sans-serif; }

h2 h3 {
  font-family: "Merriweather Sans", sans-serif; }

p {
  font-family: "Oxygen", sans-serif; }

/*VIEWS*/
h1 {
  font-weight: bold;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 1.6em; }

html {
  scroll-behavior: smooth; }

.index__logo {
  max-width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-bottom: 25px;
  -webkit-transform: scale(0.5);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .index__logo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 1px #b8b8b8); }

.index__section__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding-bottom: 1.2rem;
  width: 250px;
  height: 180px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgba(235, 228, 228, 0.75);
  border-radius: 12px;
  border: 1px solid gray; }

.index__login {
  display: flex;
  flex-direction: column;
  margin: auto; }

.index__btn__login {
  padding-top: 1.2rem;
  margin: auto; }

.loading__fork {
  margin: 0 auto;
  position: absolute;
  top: 240px;
  left: 43%; }

.index__form__tte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 150px;
  margin: 20px auto;
  width: 350px;
  height: 200px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgba(235, 228, 228, 0.75);
  border-radius: 12px;
  border: 1px solid gray; }

.index__label__input {
  padding-left: 5px; }

.card__carga__titulo {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  font-size: 1.6em;
  text-align: center;
  position: relative;
  top: -85%;
  left: 10%;
  font-family: "Russo One", sans-serif;
  padding-top: 1.2rem;
  width: 200px;
  height: 100x;
  background-color: #869494;
  border-radius: 12px; }

.card__carga {
  display: grid;
  grid-template-columns: 2, 1fr;
  justify-content: center;
  align-items: center;
  top: 150px;
  margin: auto;
  width: 840px;
  height: 720px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgba(235, 228, 228, 0.75);
  border-radius: 12px;
  border: 1px solid gray; }

.btn__cargas {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top: 150px;
  right: 250px;
  gap: 20px;
  width: 150px;
  height: 150px; }

.btn__styles {
  color: #318acc;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  border: 2px solid;
  transition: all 1s ease; }
  .btn__styles:hover {
    background: #318aac;
    color: #fff !important; }

.carga__pallets {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  position: relative;
  top: -100px;
  left: 300px;
  width: 100px; }

.input__carga {
  display: grid;
  gap: 80px;
  width: 50%;
  height: 150%;
  margin: auto; }

.label__carga {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top: 5px;
  right: -20px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold; }

.btn__grabar__carga {
  position: relative;
  bottom: 50px;
  margin: 0 auto; }

.btn__styles__grabar {
  color: #318acc;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Merriweather Sans", sans-serif;
  border: 2px solid;
  transition: all 1s ease;
  width: 150px;
  height: 50px; }
  .btn__styles__grabar:hover {
    background: #318aac;
    color: #fff !important; }

footer {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  text-align: center; }

#index__section__consulta {
  display: grid;
  grid-template-columns: 2, 1fr;
  justify-content: center;
  align-items: center;
  top: 150px;
  margin: auto;
  width: 840px;
  height: 720px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgba(235, 228, 228, 0.75);
  border-radius: 12px;
  border: 1px solid gray; }

@media (max-width: 480px) {
  .index__logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%; } }

@media (max-width: 480px) {
  .index__section__login
.index__form__tte
.card__carga {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%; } }
