

h1 {font-weight: bold;
  text-align: center;
  font-family: $font-title;
  font-size: $text-small;
  
}  

.index__logo {
  max-width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-bottom: 25px;
}
.index__section__login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: $spacing-small;
  width: 250px;
  height: 180px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  font-family: $font-subtitle;
  background-color: rgba(235, 228, 228, 0.75);
  border-radius: 12px;
  border: 1px solid gray
}
.index__login {
  display: flex;
  flex-direction: column;
  margin: auto;

}

.index__btn__login{
  padding-top:$spacing-small;
  margin: auto;

}
.index__form__tte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 150px;
  margin: auto;
  width: 350px;
  height: 200px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  font-family: $font-subtitle;
  background-color: rgba(235, 228, 228, 0.75);
  border-radius: 12px;
  border: 1px solid gray
}

.index__label__input {
  padding-left: 5px;
}


.form-control {
  width: 100%;
padding-bottom: 10px;
}

.btn__carga{
    padding-left: 50px;
}
.index__carga__pallet{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-right: 300px;
    align-items: center;
    padding-bottom: $spacing-vlarge;
}
.carga-form-control {
  width: 100%; } 
.index__carga__button{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
