h1{
    @mixin font($ff,$fs) {
        font-family:$font-title ;
        font-size: $text-small;
    }
    font-weight: bold;
    text-align: center;    
    }

 h2{
        @mixin font($ff,$fs) {
            font-family:$font-subtitle ;
            font-size: $text-medium;
        }
        font-weight: bold;
        text-align: center;    
        }
.index__login{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}        

.index__label__input{
    padding-left: 5px;
}  

.index__logo{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.form-floating mb-1{
    display: flex;
    flex-direction: column;
    margin: auto
}
.form-control{
    width: 20%;
    
}