/*Spacings*/
/* spacings */
$spacing-xsmall: 1rem;
$spacing-small: 1.2rem;
$spacing-medium: 2.4rem;
$spacing-large: 6rem;
$spacing-vlarge: 15rem;

/*font family*/
$font-title:'Russo One', sans-serif;
$font-general: 'Oxygen', sans-serif;
$font-subtitle: 'Merriweather Sans', sans-serif;

/* fonts size */
$text-large:4.6em;
$text-medium:2.4em;
$text-small:1.6em;
$text-xsmall:1.4em;
$text-xxsmall:0.9em
